* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5) ;
    display: none;
}
.popup{
    position: fixed;
    left: 50%;
    top:-150%;
    transform: translate(-50%,-50%);
    width: 35%;
    border-radius: 10px;
    height: auto;
   background-color: #9eb1ee;
  /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
   /* padding: 50px;*/
}
body.popup-active .popup{
    top: 50%;
}
body.popup-active .popup-overlay{
    display: block;
}
.popup .popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: #555;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-weight: bold;
}
#open-popup-btn{

    margin: 200px 600px;
    width: 10%;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color:red;
    color: white;
    border-radius: 10px;
}




.parents{
    margin: 30px 80px;
   
} 
/* .parents_2{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 40px;
} */

/* .label-1{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px !important;
   
} */
 
/* input{
  width: 100%;
  height: 50px; 
  margin-bottom: 30px; 
  border-radius: 5px;
  font-size: 18px;
} */

h1{
    padding-bottom:25px;
    text-align: center;
}
.content_input{
    width: 390px;
    height:40px;
    max-width: 19em;
    margin:18px 0px;
    font-size: 20px;
    margin-bottom: 45px;
    border: none;
    position: relative;
}


.form_input{
    position: absolute;
    height: 60px;
    border: none;
    width: 385px;
    border-radius: 0.5em;
    outline: none;
    /* padding-left: 1em; */
     background-color: #eee;
        font-size:20px;
}
.form_input:hover{
    border: 1px solid rgb(70, 68, 68);
}
.form_input:focus{
    border: 1px solid  rgb(70, 68, 68);
}
input[type="text"]:focus ~ label, .form_input:not(:placeholder-shown).form_input:not(:focus)~label{
    top: -0.5em;
    padding: 0 0.125em;
    border: none;
    color: black;
    background-color:#eee;
    font-weight: bold;
    font-size: 20px;
}

label{
    position: absolute;
  color: #696565;
    font-family: sans-serif;
    left: 1em;
    top: 0.75em;
    border: none;
    cursor: text;
    transition: top 350ms ease-in;
    font-size: 350ms ease-in;
}

.sumit_btn {
 padding: 10px 45px;
    width:390px;
     border-radius: 10px;
     font-size: 18px;
     font-weight: bold;
    height: 60px; 
 border: unset;
 /* border-radius: 8px;
 color: #212121; */
 z-index: 1;
 background-color: #5487ed;
  color: #fff;
 position: relative;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
   margin-top: 10px;
  cursor: pointer;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}


.sumit_btn::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius:8px;
 background-color:rgb(18, 18, 239);
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.sumit_btn:hover {
 color: #e8e8e8;
}

.sumit_btn:hover::before {
 width: 100%;
}


