@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.thought-popup-container {
  width: 550px;
  height: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.user-info {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info > img {
  width: 40px;
}
.thought-card {
  width: 100%;
  height: 85%;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.thought-card > textarea {
  width: 100%;
  height: 85%;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  border: none;
}
.thought-card > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btns button {
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #218fc4;
}
.btns > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding-left: 7px;
  border-radius: 10px;
  background-color: #218fc4;
}
.fa-paper-plane {
  color: white;
}

/* Success message popup start */

.success-msg-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 500px;
  height: 300px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}
.success-msg-popup > div:nth-child(1) {
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5ffe8;
}
.bi-check-circle {
  font-size: 28px;
  color: #32ae69;
}
.success-msg-popup > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.success-msg-popup > div:nth-child(2) > h3 {
  font-weight: 500;
}
.success-msg-popup > div:nth-child(2) > p {
  font-size: 15px;
}
.success-msg-popup > a > button {
  padding: 5px 25px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #2b7efe;
  transition: all 0.3s ease-in-out;
}
.success-msg-popup > a > button:hover {
  background-color: #0867f5;
}

/* Success message popup end */

.sucMsg-popup {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  z-index: 999;
}
