@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  position: relative;
}
.thoughts-container {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-mode-container {
  position: absolute;
  right: 20px;
  top: 20px;
}
.dark-mode-container button {
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.light-mode {
  display: none;
}
.dark-mode-container i {
  font-size: 16px;
}
.thought-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.thought-cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px 20px;
}
.card-1 {
  width: 100%;
  height: 290px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-1 > p {
  height: 125px;
}
.user-info {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info > img {
  width: 50px;
}
.btns-container {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.btns-container button {
  border: none;
  background-color: transparent;
}
.btns-container i {
  font-size: 16px;
  opacity: 0.7;
}
.like-btn p {
  font-size: 17px;
}
.like-btn,
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 8px;
  border-radius: 5px;
  transition: all 0.3s;
}
.like-btn:hover {
  background-color: rgb(236, 199, 199);
}
.star:hover {
  background-color: #f5efe4;
}
